[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2
[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
