#include "sample.rc"

icon1       ICON    "icons/toolbrai.ico"
icon2       ICON    "icons/toolchar.ico"
icon3       ICON    "icons/toolchec.ico"
icon4       ICON    "icons/tooldata.ico"
icon5       ICON    "icons/toolgame.ico"
icon6       ICON    "icons/toolnote.ico"
icon7       ICON    "icons/tooltime.ico"
icon8       ICON    "icons/tooltodo.ico"
icon9       ICON    "icons/toolword.ico"

iconsmall   ICON    "icons/small1.ico"
